html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  line-height: 1.4;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
  text-decoration:none;
  margin-left: 10px;   
}

a::after {
  content:'';
  position:absolute;
  left: 0;
  right: 0;
  transform: translateY(1.5em);
 /* border-bottom: 1px solid #dadada;*/
  width: 300px;
  
}

a:hover {
  color:darkred;
}


.container {
  min-width: 320px;
  max-width: 960px;
  padding: 0 10px;
  margin-left: auto;
  margin-right: auto;
  width: 6em
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
  margin: 1.25em 0;
}

section {
  margin: 1em 0;
}

b,
strong {
  font-weight: bolder;
}

.contacts {
  position: relative;
  display: inline-block;
 
}

.contacts dt {
  float: left;
  min-width: 11em;
}

.contacts dd {
  margin-bottom: 1.2em;
  overflow: hidden;
}

.contacts dd::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  transform: translateY(1.5em);
  /*border-bottom: 1px solid #dadada;*/
}
/*свойство фото*/
.photo {
  border-radius: 100px;
  /*радиус скругления*/
  border: 3px solid transparent;
  /*параметр рамки*/
  box-shadow: 0 4px 15px 0px rgba(0, 0, 0, 0.52);
  object-fit: cover;
}
/*выделение рамки*/
.photo:hover {
	border: 3px solid #FFD700;
}

.wishlist {
  display: block;
  width: 1px;
  text-decoration: none;
}

input{
  width: 40px; height: 35px; /* Размеры кнопки */
 background-color: #bdc7be; /* Цвет фона */
 border-radius: 40%; /* Радиус скругления */
 border: ; /* Убираем рамку вокруг кнопки */
  
}

#myButton {
            background-color: #F37021;
            color: white;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            border-radius: 5px;
            font-family: 'Montserrat', sans-serif;
        }
		
/* Стили для контейнера карточек */
        .card-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
            padding: 20px;
        }

        /* Стили для каждой карточки */
        .card {
            background-color: #a7a7ab;
            border: 1px solid #ddd;
            border-radius: 10px;
            padding: 20px;
            width: 300px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease;
        }

        /* Эффект при наведении */
        .card:hover {
            transform: translateY(-10px);
        }

        /* Стили для контента внутри карточки */
        .card h2 {
            margin-top: 0;
            font-size: 1.5rem;
            color: #333;
        }

        .card p {
            font-size: 1rem;
            color: #666;
        }
		
		.board-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
           
        }
		
		.board {
            background-color: #757578;
            border: 1px solid #ddd;
            border-radius: 20px;
            padding: 30px;
            width: 340px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease;
        }
		
		.board h2 {
            margin-top: 0;
            font-size: 1.5rem;
            color: #333;
        }

        .board p {
            font-size: 1rem;
            color: #666;
        }
